<!doctype html>

<html lang="en-US">

<head>
  {{>meta}}
</head>

<body>
  {{>header}}
  <p>This is a sample Node.js application built as part of "The complete Node.js Developer Course (3rd edition)" by Andrew Mead. Below is a picture of me (Chris Mills!) looking excited as I refresh my Node skills.</p>

  <p>This app uses data from mapbox and weatherstack to generate the forecasts.</p>

  <img src="./img/chris.jpg" alt="Chris Mills">
  {{>footer}}
</body>

</html>
