<!doctype html>

<html lang="en-US">

<head>
  {{>meta}}
</head>

<body>
  {{>header}}
  <p>Learn more about me here.</p>

  <img src="./img/chris.jpg" alt="Chris Mills">
  {{>footer}}
</body>

</html>
